# vim: set filetype=gitconfig ts=4 sts=4 sw=4 et:

# colors {{{
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta
    plain = white bold
    old = red bold
    new = green bold
    commit = yellow bold
    func = green dim
        #plain = white bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
# }}}

[alias]
    dt = difftool
    ba = branch -a
    cb = checkout -b
    co = checkout
    ci = commit
    st = status
    br = branch
    hs = log --abbrev-commit --graph --date=short --max-count=30 --pretty=format:'%C(yellow)%h%Creset %C(bold magenta)%ad%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%Cred%d%Creset'
    hsa = log --abbrev-commit --graph --date=short --max-count=30 --all --pretty=format:'%C(yellow)%h%Creset %C(bold magenta)%ad%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%Cred%d%Creset'
    type = cat-file -t
    dump = cat-file -p
    alias = config --get-regexp ^alias\\.
    unstage = reset HEAD --

[url "https://aur.archlinux.org/"]
    insteadOf = aur://

[url "ssh+git://aur@aur.archlinux.org/"]
    insteadOf = "aur:"

[url "https://github.com/"]
    insteadOf = "gh:"

[url "git@github.com:"]
    pushInsteadOf = "gh:"

[status]
    relativePaths = true
    showUntrackedFiles = no

[core]
    editor = vim

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff
    noprefix = true
    algorithm = patience
    renames = copies

#[pager]
#        diff = "vim -c '%sm/\\e.\\{-}m//ge' -c 'set ft=diff' -c 'normal gg' -"

[push]
    default = simple

[difftool]
    prompt = false

[include]
    path = ~/.gitconfig.local

