! $HOME/.Xresources

Xft.dpi:            96
Xft.antialias:      True
Xft.autohint:       False
Xft.hinting:        True
Xft.hintstyle:      hintfull
Xft.lcdfilter:      lcddefault
Xft.rgba:           rgb

Xcursor.theme:      Neutral_Plus

! ---| colors |--- {{{1
!#include "/home/racoon/.themes/terminal_colors/base16-default.dark.256.xresources"

! colors are set via a shell script
! only specify colors that use transparency here
!*.background: [60]#3a3a3a
*.background: #282828

! ---| urxvt |--- {{{1
URxvt*depth:                32
URxvt*borderWidth:          0
URxvt*buffered:             True
URxvt*cursorBlink:          False
URxvt*font:                 xft:Terminess Powerline:style=regular:size=8
URxvt*boldFont:             xft:Terminess Powerline:style=bold:size=8
URxvt*italicFont:           xft:Terminess Powerline:style=italic:size=8
URxvt*boldItalicFont:       xft:Terminess Powerline:style=bolditalic:size=8
URxvt*intensityStyles:      False
URxvt*inheritPixmap:        False
URxvt*internalBorder:       4
URxvt*jumpScroll:           True
URxvt*letterSpace:          1
URxvt*saveLines:            65535
URxvt*scrollBar:            False
URxvt*scrollstyle:          plain
URxvt*scrollTtyKeypress:    True
URxvt*scrollTtyOutput:      False
URxvt*scrollwithbuffer:     False
URxvt*secondaryScroll:      True
URxvt*skipScroll:           True
URxvt*termName:             rxvt-unicode-256color
URxvt*urgentOnBell:         True
URxvt*visualBell:           False
URxvt.iso14755_52:          False
URxvt.iso14755:             False

! perl extensions & options
URxvt*perl-ext-common:      default,matcher,searchable-scrollback
URxvt*url-launcher:         firefox
URxvt*matcher.button:       1
URxvt*matcher.pattern.0:    \\b(?:(?:https?|ftp):\/\/|mailto:)[\\w\-\@;\/?:&=%\$_.+!*\x27(),~#]+ [\\w\-\@;\/?:&=%\$_+!*\x27()~]
URxvt*matcher.pattern.1:    \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt*matcher.pattern.2:    \\bhttp:\/\/(www.youtube|youtube).com\/watch\\?v=([\\w-]*)

! ---| xcalc |--- {{{1
xcalc*geometry:                         200x275
xcalc*font:                             -*-terminus-medium-r-*-*-14-120-*-*-*-*-*-*
xcalc.ti.bevel.background:              #111111
xcalc.ti.bevel.screen.background:       #000000
xcalc.ti.bevel.screen.DEG.background:   #000000
xcalc.ti.bevel.screen.DEG.foreground:   LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background:  #000000
xcalc.ti.bevel.screen.GRAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:   #000000
xcalc.ti.bevel.screen.RAD.foreground:   LightSeaGreen
xcalc.ti.bevel.screen.INV.background:   #000000
xcalc.ti.bevel.screen.INV.foreground:   Red
xcalc.ti.bevel.screen.LCD.background:   #000000
xcalc.ti.bevel.screen.LCD.foreground:   LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth:  0
xcalc.ti.bevel.screen.M.background:     #000000
xcalc.ti.bevel.screen.M.foreground:     LightSeaGreen
xcalc.ti.bevel.screen.P.background:     #000000
xcalc.ti.bevel.screen.P.foreground:     Yellow
xcalc.ti.Command.foreground:            White
xcalc.ti.Command.background:            #777777
!xcalc.ti.button3.label:                 √
xcalc.ti.button3.label:                 sqrt
xcalc.ti.button5.background:            Orange3
xcalc.ti.button19.background:           #611161
xcalc.ti.button18.background:           #611161
xcalc.ti.button20.background:           #611111
xcalc.ti.button20.label:                /
xcalc.ti.button25.background:           #722222
xcalc.ti.button30.background:           #833333
xcalc.ti.button35.background:           #944444
xcalc.ti.button40.background:           #a55555
xcalc.ti.button22.background:           #222262
xcalc.ti.button23.background:           #222262
xcalc.ti.button24.background:           #222272
xcalc.ti.button27.background:           #333373
xcalc.ti.button28.background:           #333373
xcalc.ti.button29.background:           #333373
xcalc.ti.button32.background:           #444484
xcalc.ti.button33.background:           #444484
xcalc.ti.button34.background:           #444484
xcalc.ti.button37.background:           #555595
xcalc.ti.button38.background:           #555595
xcalc.ti.button39.background:           #555595
XCalc*Cursor:                           hand2
XCalc*ShapeStyle:                       rectangle

! ---| xmessage |--- {{{1
xmessage*maxWidth:                      400
xmessage*maxHeight:                     200
xmessage*font:                          -*-terminus-medium-r-*-*-12-120-*-*-*-*-*-*
xmessage*background:                    #3a3a3a
xmessage*foreground:                    #dcdccc
xmessage*center:                        true
xmessage*Scrollbar.width:               4
xmessage*Scrollbar.borderWidth:         2
xmessage*form.okay.shapeStyle:          rectangle
xmessage*form.okay.background:          #3a3a3a
xmessage*form.okay.foreground:          #dfaf8f
xmessage*message*background:            #3a3a3a
xmessage*message*foreground:            #dcdccc
xmessage*defaultButton:                 okay
xmessage*Buttons:                       okay
xmessage*form.message.Scroll:           WhenNeeded
xmessage*Command.highlightThickness:    1
xmessage*Command.internalWidth:         5
xmessage*Command.internalHeight:        3

! ---| rofi |--- {{{1
rofi.modi:                          run,window,ssh
rofi.width:                         1680
rofi.lines:                         9
rofi.columns:                       2
rofi.font:                          Terminess Powerline 12
rofi.location:                      1
rofi.padding:                       5
rofi.bw:                            1
rofi.xoffset:                       0
rofi.yoffset:                       18
rofi.terminal:                      urxvt
rofi.sidebar-mode:                  true
rofi.run-command:                   {cmd}
rofi.run-shell-command:             {terminal} -e {cmd}
rofi.ssh-client:                    ssh
rofi.ssh-command:                   {terminal} -e {ssh-client} {host}
rofi.case-sensitive:                false
rofi.disable-history:               false
rofi.auto-select:                   false
rofi.fixed-num-lines:               true
rofi.parse-hosts:                   false
rofi.levenshtein-sort:              true
rofi.opacity:                       100

! State:                            'bg',   'border'
rofi.color-window:                  #181818,#383838
! State:                            'bg',   'fg',   'bgalt','hlbg', 'hlfg'
rofi.color-normal:                  #181818,#d8d8d8,#181818,#383838,#d8d8d8
rofi.color-urgent:                  #181818,#d8d8d8,#181818,#383838,#d8d8d8
rofi.color-active:                  #585858,#d8d8d8,#585858,#383838,#d8d8d8
rofi.color-enabled:                 true

rofi.kb-primary-paste:              Shift+Insert
rofi.kb-secondary-paste:            Control+Shift+Insert
rofi.kb-mode-next:                  Control+l,Control+Tab
rofi.kb-mode-previous:              Control+h,Control+Shift+Tab

